@font-face {
    font-family: silentLips;
    src: url(fonts/silent_lips.ttf)
}

a {
    text-decoration: underline;
    color: darkgoldenrod;
    font-family: Krylon;
    font-size: 20px;
}

.menu {
    text-decoration: line-through;
    color: darkgoldenrod;
    font-family: Krylon;
    font-size: 20px;
}

body {
    background-color: black;
}

* {
    text-align: center;
}

h1 {
    color: white;
    font-family: silentLips;
    text-decoration: underline;
}



h2, h3, h4, h5, h6 {
    color: white;
    font-family: Krylon;
    text-decoration: underline;
}

p, ul, li {
    color: white;
    font-family: Krylon;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}




